button {
  background-color: #92AD70;
  border-radius: 10px;
  border: none;
  color: white !important;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  min-width: 200px;
  max-width: 300px;
  height: 50px;
}

button:hover {
  cursor:pointer;
}

.buttonWrapper {
  padding-top: 30px;
  padding-bottom: 20px;
}

