.projectSectionTan {
  background-color: #D2B597;
  padding-top: 20px;
  padding-bottom: 20px;
}

.projectSectionWhite {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

table, tr, td {
  border: none;
  padding-right: 15px;
  padding-bottom: 16px;
  font-size: 16px;
}

.dividerBrown {
  width: 20%;
  height: 8px;
  background-color: #836649;
  margin: 50px 0px 20px 0px;
}

.dividerTan {
  width: 20%;
  height: 8px;
  background-color: #D2B597;
  margin: 50px 0px 20px 0px;
}

