table {
  margin-bottom: 30px;
}

table, tr, td {
  border: none;
  font-size: 16px;
  vertical-align: top;
  white-space: pre-wrap;
}

td {
  padding-right: 15px;
  padding-bottom: 15px;
}

.extra-padding {
  padding-right: 80px;
}